flow-designer.json
[{"id":"532d167e.acd2e8","type":"subflow","name":"Cleanup (2)","in":[{"x":34.44444465637207,"y":71.1111068725586,"wires":[{"id":"b27dcb88.4d8238"}]}],"out":[{"x":158.88883018493652,"y":242.22223281860352,"wires":[{"id":"b27dcb88.4d8238","port":1}]}]},{"id":"2527c207.dad83e","type":"function","debugBreak":false,"debugOutput":false,"name":"Setup Delete Request","func":"console.log(\"Idx=\"+msg.subIdx);\nconsole.log(JSON.stringify(msg.subIds));\nconsole.log(\"Deleting \"+ msg.subIds[msg.subIdx]);\nmsg.url = context.global.base_url+\"/a1/nca/subscription/callDirection/\"+msg.subIds[msg.subIdx];\nmsg.method = \"DELETE\";\nmsg.headers = {\n        \"Authorization\":\"Bearer \"+context.global.BearerToken,\n        \"User-Agent\":\"NodeRed-Rapport\"\n    };\nmsg.subIdx++;\nreturn msg;","outputs":1,"valid":true,"x":777.7778167724609,"y":149.9999942779541,"z":"532d167e.acd2e8","wires":[["5755d90c.a8aa28"]]},{"id":"b27dcb88.4d8238","type":"function","debugBreak":false,"debugOutput":false,"name":"Proc Numbers","func":"//\n// Register a callback for each number in the \n// msg.numbers array\n//\nif (msg.numIdx < msg.numbers.length) {\n    msg.number = msg.numbers[msg.numIdx];\n    msg.numIdx++;\n    return [msg, null];\n} else {\n    msg.numIdx = 0;\n    return [null, msg];\n}\nreturn msg;","outputs":"2","valid":true,"x":218.88886260986328,"y":73.11114025115967,"z":"532d167e.acd2e8","wires":[["e9ee683b.161198"],[]]},{"id":"e9ee683b.161198","type":"function","debugBreak":false,"debugOutput":false,"name":"Setup Direction Audit","func":"msg.url = context.global.base_url+\"/a1/nca/subscription/callDirection/audit/\"+msg.number;\nmsg.method = \"GET\";\nmsg.headers = {\n        \"Content-Type\":\"application/json\",\n        \"Authorization\":\"Bearer \"+context.global.BearerToken,\n        \"User-Agent\":\"FlowDesigner\"\n    };\nreturn msg;","outputs":1,"valid":true,"x":427.7777633666992,"y":67.55558681488037,"z":"532d167e.acd2e8","wires":[["c95e6303.36a1a"]]},{"id":"c95e6303.36a1a","type":"http request","debugBreak":false,"debugOutput":false,"name":"","method":"use","ret":"obj","url":"","x":634.4444580078125,"y":67.555588722229,"z":"532d167e.acd2e8","wires":[["7abf8707.854078"]]},{"id":"7abf8707.854078","type":"function","debugBreak":false,"debugOutput":false,"name":"ExtractDirectionSubInfo","func":"msg.subCount = 0;\nmsg.subIdx = 0;\nif (msg.statusCode == 200) {\n    if (msg.payload.callDirectionSubscription &&\n        (msg.payload.callDirectionSubscription.length > 0)) {\n        //console.log(JSON.stringify(msg.payload.callDirectionSubscription));\n        msg.subCount = msg.payload.callDirectionSubscription.length;\n        msg.subIds = [];\n        for (var i=0; i<msg.subCount; i++) {\n            msg.subIds.push(msg.payload.callDirectionSubscription[i].subId);\n        }\n    } \n} else {\n    node.error(\"Unable to get direction audit info\");\n    node.error(msg.payload);\n}\nreturn msg;","outputs":1,"valid":true,"x":844.4443740844727,"y":68.33335590362549,"z":"532d167e.acd2e8","wires":[["2f7889b9.d08776"]]},{"id":"2f7889b9.d08776","type":"function","debugBreak":false,"debugOutput":false,"name":"ProcDirectionSubs","func":"if (msg.subIdx < msg.subCount) {\n    return [msg, null];\n} else {\n    msg.subIdx = 0;\n    msg.subCount = 0;\n    return [null, msg];\n}\nreturn msg;","outputs":"2","valid":true,"x":522.2221755981445,"y":156.6667013168335,"z":"532d167e.acd2e8","wires":[["2527c207.dad83e"],["d195139c.2e6af"]]},{"id":"5755d90c.a8aa28","type":"http request","debugBreak":false,"debugOutput":false,"name":"","method":"use","ret":"txt","url":"","x":682.2222595214844,"y":231.11112117767334,"z":"532d167e.acd2e8","wires":[["2f7889b9.d08776"]]},{"id":"d195139c.2e6af","type":"function","debugBreak":false,"debugOutput":false,"name":"Setup Notification Audit","func":"msg.url = context.global.base_url+\"/a1/nca/subscription/callEvent/audit/\"+msg.number;\nmsg.method = \"GET\";\nmsg.headers = {\n        \"Content-Type\":\"application/json\",\n        \"Authorization\":\"Bearer \"+context.global.BearerToken,\n        \"User-Agent\":\"FlowDesigner\"\n    };\nreturn msg;","outputs":1,"valid":true,"x":386.66661071777344,"y":294.4444284439087,"z":"532d167e.acd2e8","wires":[["9c1df0e5.63e21"]]},{"id":"e40c456c.1bf3b8","type":"function","debugBreak":false,"debugOutput":false,"name":"Setup Delete Request","func":"console.log(\"Idx=\"+msg.subIdx);\nconsole.log(JSON.stringify(msg.subIds));\nconsole.log(\"Deleting \"+ msg.subIds[msg.subIdx]);\nmsg.url = context.global.base_url+\"/a1/nca/subscription/callEvent/\"+msg.subIds[msg.subIdx];\nmsg.method = \"DELETE\";\nmsg.headers = {\n        \"Authorization\":\"Bearer \"+context.global.BearerToken,\n        \"User-Agent\":\"NodeRed-Rapport\"\n    };\nmsg.subIdx++;\nreturn msg;","outputs":1,"valid":true,"x":762.2222366333008,"y":408.8888912200928,"z":"532d167e.acd2e8","wires":[["8d31debf.72ce2"]]},{"id":"7ed0445c.812fbc","type":"function","debugBreak":false,"debugOutput":false,"name":"ExtractNotificationSubInfo","func":"msg.subCount = 0;\nmsg.subIdx = 0;\nif (msg.statusCode == 200) {\n    if (msg.payload.callEventSubscription &&\n        (msg.payload.callEventSubscription.length > 0)) {\n        //console.log(JSON.stringify(msg.payload.callEventSubscription));\n        msg.subCount = msg.payload.callEventSubscription.length;\n        msg.subIds = [];\n        for (var i=0; i<msg.subCount; i++) {\n            msg.subIds.push(msg.payload.callEventSubscription[i].subId);\n        }\n        console.log(JSON.stringify(msg.subIds));\n    } \n} else {\n    node.error(\"Unable to get direction audit info\");\n    node.error(msg.payload);\n}\nreturn msg;","outputs":1,"valid":true,"x":841.111156463623,"y":294.4444456100464,"z":"532d167e.acd2e8","wires":[["2559c47c.daa63c"]]},{"id":"9c1df0e5.63e21","type":"http request","debugBreak":false,"debugOutput":false,"name":"","method":"use","ret":"obj","url":"","x":602.2222035725912,"y":294.22224627600775,"z":"532d167e.acd2e8","wires":[["7ed0445c.812fbc"]]},{"id":"2559c47c.daa63c","type":"function","debugBreak":false,"debugOutput":false,"name":"ProcNotificationSubs","func":"if (msg.subIdx < msg.subCount) {\n    return [msg, null];\n} else {\n    msg.subIdx = 0;\n    msg.subCount = 0;\n    return [null, msg];\n}\nreturn msg;","outputs":"2","valid":true,"x":482.22218322753906,"y":416.6666669845581,"z":"532d167e.acd2e8","wires":[["e40c456c.1bf3b8"],["b27dcb88.4d8238"]]},{"id":"8d31debf.72ce2","type":"http request","debugBreak":false,"debugOutput":false,"name":"","method":"use","ret":"txt","url":"","x":697.7777777777777,"y":498.88888888888886,"z":"532d167e.acd2e8","wires":[["2559c47c.daa63c"]]},{"id":"b02526eb.4fdad8","type":"subflow","name":"Collect Digits (2)","in":[{"x":47,"y":140,"wires":[{"id":"1b543b2d.e4abc5"}]}],"out":[{"x":537,"y":367,"wires":[{"id":"b6f10315.490f","port":1}]}]},{"id":"1b543b2d.e4abc5","type":"function","debugBreak":false,"debugOutput":false,"name":"Setup Subscribe Request","func":"//\n// This function expects the following inputs:\n// msg.sessionId  - Id of active call session (required)\n// msg.messageUrl - URL of .wav or .mp3 file (required)\n// msg.numbers - Array of 10 digit numbers in call to hear the message (required)\n// msg.numDigits - Number of digits to collect\n//\n// The digits collected by this subflow are returned in msg.digits\n//\nif (msg.sessionId === undefined) {\n    node.error(\"No sessionId parameter, not sending Subscribe request\");\n    return null;\n}\nif (msg.messageUrl === undefined) {\n    node.error(\"No messageUrl parameter, not sending Subscribe request\");\n    return null;\n}\nif (msg.numbers === undefined) {\n    node.error(\"No numbers parameter, not sending Subscribe request\");\n    return null;\n}\nif (msg.numDigits === undefined) {\n    node.error(\"No numbers parameter, not sending Subscribe request\");\n    return null;\n}\nmsg.url = context.global.base_url+\"/a1/nca/interaction/subscribe\";\nmsg.method = \"POST\";\nmsg.headers = {\n        \"Content-Type\":\"application/json\",\n        \"Authorization\":\"Bearer \"+context.global.BearerToken,\n        \"User-Agent\":\"FlowDesigner\"\n    };\nmsg.payload= {\n        \"sessionId\": msg.sessionId,\n        \"type\" : \"play\",\n        \"notifyURL\": context.global.ui_url+\"/\"+msg.sessionId\n    };\nconsole.log(\"Sending Subscribe Request:\");\nconsole.log(JSON.stringify(msg));\nreturn msg;\n","outputs":1,"valid":true,"x":223,"y":140,"z":"b02526eb.4fdad8","wires":[["dcf0131c.230ff"]]},{"id":"dcf0131c.230ff","type":"http request","debugBreak":false,"debugOutput":false,"name":"","method":"use","ret":"obj","url":"","x":436,"y":140,"z":"b02526eb.4fdad8","wires":[["96a4b7de.695b48"]]},{"id":"96a4b7de.695b48","type":"function","debugBreak":false,"debugOutput":false,"name":"Setup PlayAndCollect Request","func":"if (msg.statusCode == 201) {\n    msg.url = context.global.base_url+\"/a1/nca/interaction/play\";\n    msg.method = \"POST\";\n    msg.headers = {\n         \"Content-Type\":\"application/json\",\n         \"Authorization\":\"Bearer \"+context.global.BearerToken,\n         \"User-Agent\":\"FlowDesigner\"\n        };\n    msg.payload= {\n           \"sessionId\": msg.sessionId,\n           \"callPartyL\" : msg.numbers,\n           \"playURL\" : msg.messageUrl,\n           \"playFormat\" : \"audio\",\n           \"minDigits\" : msg.numDigits,\n           \"maxDigits\" : msg.numDigits\n     };\n    console.log(\"Sending PlayAndCollect Request:\");\n    console.log(JSON.stringify(msg));\n    return msg;\n} else {\n    node.error(\"Unable to setup UI subscription\");\n    console.log(JSON.stringify(msg.payload));\n    return null;\n}\n","outputs":1,"valid":true,"x":246,"y":253,"z":"b02526eb.4fdad8","wires":[["cf4054d5.30bfa8"]]},{"id":"cf4054d5.30bfa8","type":"http request","debugBreak":false,"debugOutput":false,"name":"","method":"use","ret":"obj","url":"","x":505,"y":253,"z":"b02526eb.4fdad8","wires":[["49102df5.b6efd4"]]},{"id":"b6f10315.490f","type":"function","debugBreak":false,"debugOutput":false,"name":"WaitForDigits","func":"msg.pollCount--;\nif (msg.pollCount <= 0) {\n    node.warn(\"Poll limit reached\");\n    msg.collectStatus = \"Error\";\n}\nif ((msg.collectStatus == \"Complete\" ) || \n    (msg.collectStatus == \"Terminated\") || \n    (msg.collectStatus == \"Error\")) {\n    console.log(\"PlayAndCollect subflow returning..\");\n    return [null, msg];\n} else {\n    return [msg, null];\n}\n","outputs":"2","valid":true,"x":198,"y":357,"z":"b02526eb.4fdad8","wires":[["ba924378.456dc"],[]]},{"id":"ba924378.456dc","type":"delay","debugBreak":false,"debugOutput":false,"name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":272,"y":483,"z":"b02526eb.4fdad8","wires":[["f834cf8c.07cb3"]]},{"id":"49102df5.b6efd4","type":"function","debugBreak":false,"debugOutput":false,"name":"Check Status","func":"if (msg.statusCode == 201) {\n    msg.digits = [];\n    msg.pollCount = 200;\n    msg.collectStatus = \"Pending\";\n} else {\n    node.error(\"PlayAndCollect request failed\");\n    msg.digits = [];\n    msg.collectStatus = \"Error\";\n}\nreturn msg;\n","outputs":1,"valid":true,"x":699,"y":256,"z":"b02526eb.4fdad8","wires":[["b6f10315.490f"]]},{"id":"f834cf8c.07cb3","type":"function","debugBreak":false,"debugOutput":false,"name":"Check For Digits","func":"//\n// The ui_callback will store the results from the callback in\n// context.global.ui_response[\"<call_sessionId>\"].\n//\nif (context.global.ui_response[msg.sessionId] === undefined) {\n    msg.collectStatus = \"Pending\";\n} else {\n    msg.collectStatus = \"Complete\";\n    console.log(\"Digit collection complete!\");\n    var payload = context.global.ui_response[msg.sessionId];\n    var digitString = payload.eventNotification.eventDescription.mediaResponse;\n    msg.digits = digitString.split(\"\");\n    console.log(\"Digits=\"+msg.digits);\n    // Cleanup\n    delete context.global.ui_response[msg.sessionId];\n}\nreturn msg;","outputs":1,"valid":true,"x":478,"y":483,"z":"b02526eb.4fdad8","wires":[["b6f10315.490f"]]},{"id":"87805be1.787fa8","type":"subflow","name":"Message (2)","in":[{"x":57,"y":105,"wires":[{"id":"f271fa58.0d8e08"}]}],"out":[{"x":478,"y":366,"wires":[{"id":"7da636de.8259c8","port":1}]}]},{"id":"f271fa58.0d8e08","type":"function","debugBreak":false,"debugOutput":false,"name":"Setup Request","func":"//\n// This function expects the following inputs:\n// msg.sessionId  - Id of active call session (required)\n// msg.messageUrl - URL of .wav or .mp3 file (required)\n// msg.numbers - Array of 10 digit numbers in call to hear the message (required)\n//\nif (msg.sessionId === undefined) {\n    node.error(\"No sessionId parameter, not sending Play request\");\n    return null;\n}\nif (msg.messageUrl === undefined) {\n    node.error(\"No messageUrl parameter, not sending Play request\");\n    return null;\n}\nif (msg.numbers === undefined) {\n    node.error(\"No numbers parameter, not sending Play request\");\n    return null;\n}\nmsg.url = context.global.base_url+\"/a1/nca/interaction/message/audio\";\nmsg.method = \"POST\";\nmsg.headers = {\n        \"Content-Type\":\"application/json\",\n        \"Authorization\":\"Bearer \"+context.global.BearerToken,\n        \"User-Agent\":\"FlowDesigner\"\n    };\nmsg.payload= {\n        \"url\": msg.messageUrl,\n        \"sessionId\": msg.sessionId,\n        \"partyNumL\": msg.numbers\n    };\nconsole.log(\"Sending Play Message Request:\");\nconsole.log(JSON.stringify(msg));\nreturn msg;","outputs":1,"valid":true,"x":221,"y":107,"z":"87805be1.787fa8","wires":[["56d6a32b.a9295c"]]},{"id":"56d6a32b.a9295c","type":"http request","debugBreak":false,"debugOutput":false,"name":"","method":"use","ret":"obj","url":"","x":435,"y":107,"z":"87805be1.787fa8","wires":[["16a7a9db.e95856","953b1ed7.6ac4e"]]},{"id":"16a7a9db.e95856","type":"function","debugBreak":false,"debugOutput":false,"name":"Extract MsgId","func":"console.log(\"Result from Play Message Request:\");\nconsole.log(JSON.stringify(msg));\nif (msg.statusCode == 201) {\n    msg.msgId = msg.payload.msgId;\n    msg.msgStatus = msg.payload.status;\n    msg.pollCount = 240;\n    return msg;\n}\nelse {\n    msg.msgStatus = \"Error\";\n    node.error(\"Play Message request failed\");\n    return msg;\n}\n    ","outputs":1,"valid":true,"x":628,"y":107,"z":"87805be1.787fa8","wires":[["7da636de.8259c8"]]},{"id":"7da636de.8259c8","type":"function","debugBreak":false,"debugOutput":false,"name":"Poll For Completion","func":"msg.pollCount--;\nif (msg.pollCount <= 0) {\n    node.warn(\"Poll limit reached\");\n    msg.msgStatus = \"Error\";\n}\nif ((msg.msgStatus == \"Played\" ) || \n    (msg.msgStatus == \"Terminated\") || \n    (msg.msgStatus == \"Error\")) {\n    console.log(\"Message subflow returning..\");\n    return [null, msg];\n} else {\n    msg.url = context.global.base_url+\"/a1/nca/interaction/message/audio/\"+msg.msgId;\n    msg.method = \"GET\";\n    msg.headers = {\n            \"Content-Type\":\"application/json\",\n            \"Authorization\":\"Bearer \"+context.global.BearerToken,\n            \"User-Agent\":\"FlowDesigner\"\n        };\n    console.log(\"About to check message status:\");\n    //console.log(JSON.stringify(msg));\n    return [msg, null];\n}\n\n","outputs":"2","valid":true,"x":175,"y":280,"z":"87805be1.787fa8","wires":[["bc03aa6a.43fc58"],[]]},{"id":"678fc0df.98704","type":"http request","debugBreak":false,"debugOutput":false,"name":"","method":"use","ret":"obj","url":"","x":681,"y":354,"z":"87805be1.787fa8","wires":[["b7c7f246.48381","73e91eda.8c16e"]]},{"id":"bc03aa6a.43fc58","type":"delay","debugBreak":false,"debugOutput":false,"name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":447,"y":275,"z":"87805be1.787fa8","wires":[["678fc0df.98704"]]},{"id":"b7c7f246.48381","type":"function","debugBreak":false,"debugOutput":false,"name":"Extract Status","func":"if (msg.statusCode == 200) {\n    msg.msgStatus = msg.payload.status;\n}\nelse {\n    node.error(\"Unable to get Play Message status\");\n    node.error(msg.payload);\n    msg.msgStatus = \"Error\";\n}\nreturn msg;","outputs":1,"valid":true,"x":439,"y":500,"z":"87805be1.787fa8","wires":[["7da636de.8259c8"]]},{"id":"953b1ed7.6ac4e","type":"debug","debugBreak":false,"debugOutput":false,"name":"","active":true,"console":"false","complete":"false","x":592,"y":49,"z":"87805be1.787fa8","wires":[]},{"id":"73e91eda.8c16e","type":"debug","debugBreak":false,"debugOutput":false,"name":"","active":true,"console":"false","complete":"true","x":682,"y":292,"z":"87805be1.787fa8","wires":[]},{"id":"28d9d9f5.d72626","type":"subflow","name":"Hangup (2)","in":[{"x":70,"y":70,"wires":[{"id":"ad2c58d0.52d3a8"}]}],"out":[]},{"id":"ad2c58d0.52d3a8","type":"function","debugBreak":false,"debugOutput":false,"name":"Setup Hangup","func":"//\n// This function expects msg.sessionId to be set\n//\nconsole.log(\"About to hangup call\");\nif (msg.sessionId === undefined) \n    return null;\nmsg.url = context.global.base_url+\"/a1/nca/callcontrol/manage/\"+msg.sessionId;\nmsg.method = \"DELETE\";\nmsg.headers = {\n        \"Authorization\":\"Bearer \"+context.global.BearerToken,\n        \"User-Agent\":\"FlowDesigner\"\n    };\nconsole.log(msg);\nreturn msg;","outputs":1,"valid":true,"x":228,"y":71,"z":"28d9d9f5.d72626","wires":[["90cb7eb7.6f348"]]},{"id":"90cb7eb7.6f348","type":"http request","debugBreak":false,"debugOutput":false,"name":"","method":"use","ret":"txt","url":"","x":448,"y":72,"z":"28d9d9f5.d72626","wires":[[]]},{"id":"6a30ec5e.95cf14","type":"subflow","name":"Call (2)","in":[{"x":70,"y":70,"wires":[{"id":"e8de1b28.1721e8"}]}],"out":[{"x":433,"y":262,"wires":[{"id":"1ba76cc.fe45893","port":1}]}]},{"id":"e8de1b28.1721e8","type":"function","debugBreak":false,"debugOutput":false,"name":"Setup Request","func":"// Inputs to this subflow are:\n// msg.numbers  - Array of 10 digit numbers to call (required).  Up to 2 entries.\n// msg.messageUrl - URL of .wav or .mp3 file to play when call is answered. (optional)\n//\nvar url = context.global.base_url+\"/a1/nca/callcontrol/call/\"+msg.numbers[0];\nif (msg.numbers.length > 1)\n    url += \"/\"+msg.numbers[1];\nelse if ((msg.numbers.length == 1) && (msg.messageUrl === undefined))\n    node.warn(\"An announcement is required if calling only one number\");\nmsg.url = url;\nmsg.method =  \"POST\";\nmsg.headers = {\n        \"Content-Type\":\"application/json\",\n        \"Authorization\":\"Bearer \"+context.global.BearerToken,\n        \"User-Agent\":\"FlowDesigner\"\n    };\nmsg.payload = { \"p1_displayName\":\"FlowDesigner\" };\nif (msg.messageUrl)\n    msg.payload.announcement = msg.messageUrl;\nconsole.log(\"About to setup call..\");\nconsole.log(JSON.stringify(msg));\nreturn msg;","outputs":1,"valid":true,"x":249,"y":70,"z":"6a30ec5e.95cf14","wires":[["eb39eae3.14c618"]]},{"id":"eb39eae3.14c618","type":"http request","debugBreak":false,"debugOutput":false,"name":"","method":"use","ret":"obj","url":"","x":461,"y":70,"z":"6a30ec5e.95cf14","wires":[["e88e166c.1771e8","d0b4a4f1.2f4b58"]]},{"id":"e88e166c.1771e8","type":"function","debugBreak":false,"debugOutput":false,"name":"Extract SessionId","func":"if (msg.statusCode == 201) {\n    msg.sessionId = msg.payload.sessionId;\n    msg.callStatus = \"Pending\";\n    msg.pollCount = 120;\n    return msg;\n} else {\n    node.error(\"Unable to setup call\");\n    node.error(\"Error:\"+msg.payload);\n    return null;\n}","outputs":1,"valid":true,"x":676,"y":70,"z":"6a30ec5e.95cf14","wires":[["1ba76cc.fe45893"]]},{"id":"1ba76cc.fe45893","type":"function","debugBreak":false,"debugOutput":false,"name":"Poll For Call Setup","func":"msg.pollCount--;\nif (msg.pollCount <= 0) {\n    node.warn(\"Poll limit reached\");\n    msg.callStatus = \"Error\";\n}\nif ((msg.callStatus == \"Connected\" ) || \n    (msg.callStatus == \"Terminated\") || \n    (msg.callStatus == \"Error\")) {\n    console.log(\"Call subflow returning..\");\n    return [null, msg];\n} else {\n    msg.url = context.global.base_url+\"/a1/nca/callcontrol/info/\"+msg.sessionId;\n    msg.method = \"GET\";\n    msg.headers = {\n            \"Content-Type\":\"application/json\",\n            \"Authorization\":\"Bearer \"+context.global.BearerToken,\n            \"User-Agent\":\"FlowDesigner\"\n        };\n    console.log(\"About to check call status:\");\n    //console.log(JSON.stringify(msg));\n    return [msg, null];\n}\nreturn msg;","outputs":"2","valid":true,"x":186,"y":210,"z":"6a30ec5e.95cf14","wires":[["d9e78652.261878"],[]]},{"id":"d9e78652.261878","type":"delay","debugBreak":false,"debugOutput":false,"name":"","pauseType":"delay","timeout":"250","timeoutUnits":"milliseconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":416,"y":204,"z":"6a30ec5e.95cf14","wires":[["e84c6972.17b398"]]},{"id":"cbbb7aa5.344488","type":"function","debugBreak":false,"debugOutput":false,"name":"Extract Status","func":"if (msg.statusCode == 200) {\n    var numEntries = msg.payload.participants.length;\n    if (numEntries > msg.numbers.length)\n        numEntries = msg.numbers.length;\n    var tempStatus = \"Terminated\";\n    for (var i = 0; i<numEntries; i++) {\n        if ((msg.payload.participants[i].status == \"CallParticipantConnected\") &&\n            (tempStatus != \"Pending\")) {\n            tempStatus = \"Connected\";\n        }\n        if (msg.payload.participants[i].status == \"CallParticipantInitial\") {\n            tempStatus = \"Pending\";\n        }\n    }\n    msg.callStatus = tempStatus;\n}\nelse {\n    node.error(\"Unable to get Call Status\");\n    node.error(msg.payload);\n    msg.callStatus = \"Error\";\n}\nreturn msg;","outputs":1,"valid":true,"x":391,"y":379,"z":"6a30ec5e.95cf14","wires":[["1ba76cc.fe45893"]]},{"id":"e84c6972.17b398","type":"http request","debugBreak":false,"debugOutput":false,"name":"","method":"use","ret":"obj","url":"","x":657,"y":205,"z":"6a30ec5e.95cf14","wires":[["cbbb7aa5.344488"]]},{"id":"d0b4a4f1.2f4b58","type":"debug","debugBreak":false,"debugOutput":false,"name":"","active":true,"console":"false","complete":"false","x":615,"y":27,"z":"6a30ec5e.95cf14","wires":[]},{"id":"25407254.dabf8e","type":"function","debugBreak":false,"debugOutput":false,"name":"InitializeGlobals","func":"{\n    //\n    // Enter two or more numbers to the array. \n    context.global.numbers = [\"enter first phone number\",\"enter second phone number\"];\n    // \n    // Enter your client id and client secret below\n    //\n    context.global.client_id=\"enter client id from https://devportal.foundry.att.net\";\n    context.global.client_secret=\"enter client secret from https://devportal.foundry.att.net\";\n    // \n    // The following must match the http in nodes for the callback functions.\n    // In FlowDesigner these should match the paths for the Endpoints.\n    // Note: Do not include the /:id after the uiCallback.\n    //\n    // IMPORTANT - enter the correct URLs here\n    context.global.direction_url = \"https://run-west.att.io/319b48003ce8c/789d6bcb2f49/753207d585bdb93/in/flow/directionCallback\";\n    context.global.event_url = \"https://run-west.att.io/319b48003ce8c/789d6bcb2f49/753207d585bdb93/in/flow/eventCallback\";\n    context.global.ui_url = \"https://run-west.att.io/319b48003ce8c/986d6bcb2f49/753207d585bdb93/in/flow/uiCallback\";\n    // \n    // Leave these alone\n    //\n    context.global.base_url=\"http://api.foundry.att.net:9001\";\n    //context.global.messageUrl = \"http://12.206.227.110:8080/Hello.mp3\"; \n    context.global.messageUrl = \"http://apitest.foundry.att.net/sample/term.wav\";\n    context.global.ui_response = {};\n}\nreturn msg;\n","outputs":1,"valid":true,"dependencies":[],"x":457.3125,"y":186,"z":"828b2334.7d74e","wires":[["f75a9c51.08a56"]]},{"id":"baeb817f.45148","type":"comment","debugBreak":false,"debugOutput":false,"name":"Initialize Global variables used in the flows","info":"This flow is automatically called when the project is deployed.\n\nEdit the InitializeGlobals function and set the following globals for your environment:\n\n`context.global.numbers`\n`context.global.client_id`\n`context.global.client_secret`\n`context.global.direction_url`\n`context.global.event_url`\n`context.global.ui_url`","x":361.3125,"y":143,"z":"828b2334.7d74e","wires":[]},{"id":"9d39cd95.62c63","type":"inject","debugBreak":false,"debugOutput":false,"name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":279.3125,"y":186,"z":"828b2334.7d74e","wires":[["25407254.dabf8e"]]},{"id":"57ea6b29.a81594","type":"comment","debugBreak":false,"debugOutput":false,"name":"Click2call to one participant followed by a hangup","info":"The Setup Call function needs to set the following values:\n\n`msg.numbers`  - Array of 10 digit numbers to call (required).  Up to 2 entries.\n\n`msg.messageUrl` - URL of .wav or .mp3 file to play when call is answered. (optional)\n","x":370.3124656677246,"y":723.1389141082764,"z":"828b2334.7d74e","wires":[]},{"id":"edcd77c9.123288","type":"inject","debugBreak":false,"debugOutput":false,"name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":268.89581298828125,"y":1498.6110305786133,"z":"828b2334.7d74e","wires":[["47c2d44a.b83d2c"]]},{"id":"54456de4.abba94","type":"http in","debugBreak":false,"debugOutput":false,"name":"CallDirection Callback","url":"/directionCallback","method":"post","x":285.92359161376953,"y":1277.8055686950684,"z":"828b2334.7d74e","wires":[["55129616.aaed68"]]},{"id":"55129616.aaed68","type":"function","debugBreak":false,"debugOutput":false,"name":"Call Flow Logic","func":"node.log(msg.payload);\nmsg.headers = {\n        \"Content-Type\":\"application/json\"\n    };\n//\n// Here is where we can change the call flow processing. Possible options:\n// Route, Continue, EndCall, Deferred,  or DeferredPlayAudibleRing\n// See documentation for details.  \n//\nmsg.payload = { \"action\": {\n    \"actionToPerform\": \"Continue\",\n    //\"routingAddress\": \"sip:+1\"+context.global.numbers[1]+\"@foundry.att.net;display=originator\"\n}};\nmsg.statusCode=200;\nreturn msg;","outputs":1,"valid":true,"x":504.4791488647461,"y":1277.8054904937744,"z":"828b2334.7d74e","wires":[["90eb2d03.6f14d"]]},{"id":"90eb2d03.6f14d","type":"http response","debugBreak":false,"debugOutput":false,"name":"","x":690.8124465942383,"y":1277.6944065093994,"z":"828b2334.7d74e","wires":[]},{"id":"9e617ae5.619e88","type":"http in","debugBreak":false,"debugOutput":false,"name":"CallEvent Callback","url":"/eventCallback","method":"post","x":277.92359161376953,"y":1362.8055686950684,"z":"828b2334.7d74e","wires":[["9ba2f8c.f645d08","2167adc6.de9852"]]},{"id":"bb8c5151.4473b","type":"http in","debugBreak":false,"debugOutput":false,"name":"UI Event Callback","url":"/uiCallback/:id","method":"post","x":269.92359161376953,"y":1186.8055686950684,"z":"828b2334.7d74e","wires":[["f6d901fe.0927"]]},{"id":"9ba2f8c.f645d08","type":"http response","debugBreak":false,"debugOutput":false,"name":"","x":503.92359161376953,"y":1364.8055686950684,"z":"828b2334.7d74e","wires":[]},{"id":"3d856e4b.c27a92","type":"inject","debugBreak":false,"debugOutput":false,"name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":267.8124656677246,"y":761.1389141082764,"z":"828b2334.7d74e","wires":[["cfd38795.302c78"]]},{"id":"cfd38795.302c78","type":"function","debugBreak":false,"debugOutput":false,"name":"Setup Call","func":"var numbers = [];\nnumbers.push(context.global.numbers[0]);\nmsg.numbers = numbers;\nmsg.messageUrl = context.global.messageUrl;\nmsg.numDigits = 2;\nreturn msg;","outputs":1,"valid":true,"x":408.8124656677246,"y":762.1389141082764,"z":"828b2334.7d74e","wires":[["f96aa54.f069558"]]},{"id":"f96aa54.f069558","type":"subflow:6a30ec5e.95cf14","debugBreak":false,"debugOutput":false,"x":547.8124656677246,"y":761.1389141082764,"z":"828b2334.7d74e","wires":[["177da1c.fe8825e"]]},{"id":"efa168ef.105e98","type":"subflow:28d9d9f5.d72626","debugBreak":false,"debugOutput":false,"x":821.8124656677246,"y":761.1389141082764,"z":"828b2334.7d74e","wires":[]},{"id":"177da1c.fe8825e","type":"subflow:87805be1.787fa8","debugBreak":false,"debugOutput":false,"x":677.8124656677246,"y":761.1389141082764,"z":"828b2334.7d74e","wires":[["efa168ef.105e98"]]},{"id":"6d0f70ad.92f09","type":"change","debugBreak":false,"debugOutput":false,"name":"Set Message","rules":[{"t":"set","p":"messageUrl","to":"http://12.206.227.110:8080/EnterDigits.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":697.3124656677246,"y":869.1389141082764,"z":"828b2334.7d74e","wires":[["788d9f0d.87726"]]},{"id":"f6d901fe.0927","type":"function","debugBreak":false,"debugOutput":false,"name":"Store Response","func":"console.log(\"UI Callback:\");\nvar id = msg.req.url.split('/').pop();\n//\n// The Collect Digits subflow will poll for the\n// existence of context.global.ui_response[<call_sessionId>]\n// Once we set it here, the Collect Digits subflow will \n// parse the payload to get the digits and continue the flow.\n//\ncontext.global.ui_response[id] = msg.payload;\nreturn msg;","outputs":1,"valid":true,"x":489.92359161376953,"y":1186.8055686950684,"z":"828b2334.7d74e","wires":[["853ef0be.7ac11"]]},{"id":"853ef0be.7ac11","type":"http response","debugBreak":false,"debugOutput":false,"name":"","x":696.9235916137695,"y":1186.8055686950684,"z":"828b2334.7d74e","wires":[]},{"id":"788d9f0d.87726","type":"subflow:b02526eb.4fdad8","debugBreak":false,"debugOutput":false,"x":516.3124656677246,"y":941.1389141082764,"z":"828b2334.7d74e","wires":[["277d18b.fd882e8","cd463f9f.32b9c"]]},{"id":"7f3e1422.80c1ec","type":"inject","debugBreak":false,"debugOutput":false,"name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":264.3124656677246,"y":869.1389141082764,"z":"828b2334.7d74e","wires":[["c1cebbab.3e3148"]]},{"id":"c1cebbab.3e3148","type":"function","debugBreak":false,"debugOutput":false,"name":"Setup Call","func":"var numbers = [];\nnumbers.push(context.global.numbers[0]);\nmsg.numbers = numbers;\nmsg.messageUrl = context.global.messageUrl;\nmsg.numDigits = 2;\nreturn msg;","outputs":1,"valid":true,"x":405.3124656677246,"y":870.1389141082764,"z":"828b2334.7d74e","wires":[["bd85347e.427ac8"]]},{"id":"bd85347e.427ac8","type":"subflow:6a30ec5e.95cf14","debugBreak":false,"debugOutput":false,"x":550.3124656677246,"y":869.1389141082764,"z":"828b2334.7d74e","wires":[["6d0f70ad.92f09"]]},{"id":"277d18b.fd882e8","type":"subflow:28d9d9f5.d72626","debugBreak":false,"debugOutput":false,"x":696.3124656677246,"y":941.1389141082764,"z":"828b2334.7d74e","wires":[]},{"id":"cd463f9f.32b9c","type":"debug","debugBreak":false,"debugOutput":false,"name":"Print Digits","active":true,"console":"true","complete":"digits","x":706.3124656677246,"y":994.1389141082764,"z":"828b2334.7d74e","wires":[]},{"id":"58c1fe6b.a73e","type":"comment","debugBreak":false,"debugOutput":false,"name":"Click2Call one participant and collect 2 digits","info":"The Setup Call function needs to set the following values:\n\n`msg.numbers`  - Array of 10 digit numbers to call (required).  One entry.\n\n`msg.messageUrl` - URL of .wav or .mp3 file to play when call is answered. (required)\n\n`msg.numDigits` - Number of digits to collect (required)\n\nThe collected digits are returned in an array `msg.digits`","x":353.3124656677246,"y":828.1389141082764,"z":"828b2334.7d74e","wires":[]},{"id":"2167adc6.de9852","type":"debug","debugBreak":false,"debugOutput":false,"name":"","active":true,"console":"false","complete":"false","x":519.9235916137695,"y":1416.8055686950684,"z":"828b2334.7d74e","wires":[]},{"id":"9cad35ba.6352c8","type":"inject","debugBreak":false,"debugOutput":false,"name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":261.8124656677246,"y":1075.1389141082764,"z":"828b2334.7d74e","wires":[["a9860b51.5679f8"]]},{"id":"a9860b51.5679f8","type":"function","debugBreak":false,"debugOutput":false,"name":"Setup Call","func":"msg.numbers = context.global.numbers;\nmsg.messageUrl = context.global.messageUrl;\nreturn msg;","outputs":1,"valid":true,"x":402.8124656677246,"y":1075.1389141082764,"z":"828b2334.7d74e","wires":[["a6ae5288.5951b"]]},{"id":"a6ae5288.5951b","type":"subflow:6a30ec5e.95cf14","debugBreak":false,"debugOutput":false,"x":547.8124656677246,"y":1075.1389141082764,"z":"828b2334.7d74e","wires":[["8425a819.7bda58"]]},{"id":"6167602a.9e98a","type":"subflow:87805be1.787fa8","debugBreak":false,"debugOutput":false,"x":840.8124656677246,"y":1076.1389141082764,"z":"828b2334.7d74e","wires":[["321d3fc8.cde2c"]]},{"id":"321d3fc8.cde2c","type":"subflow:28d9d9f5.d72626","debugBreak":false,"debugOutput":false,"x":982.8124656677246,"y":1075.1389141082764,"z":"828b2334.7d74e","wires":[]},{"id":"9142df47.6ebd2","type":"comment","debugBreak":false,"debugOutput":false,"name":"Click2Call two participants and play each a message","info":"The Setup Call function needs to set the following values:\n\n`msg.numbers`  - Array of 10 digit numbers to call (required).  Two entries.\n\n`msg.messageUrl` - URL of .wav or .mp3 file to play when call is answered. (optional)\n","x":377.8124656677246,"y":1032.1389141082764,"z":"828b2334.7d74e","wires":[]},{"id":"8425a819.7bda58","type":"change","debugBreak":false,"debugOutput":false,"name":"Set Message","rules":[{"t":"set","p":"messageUrl","to":"http://12.206.227.110:8080/Rapport.mp3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":688.8124656677246,"y":1075.1389141082764,"z":"828b2334.7d74e","wires":[["6167602a.9e98a"]]},{"id":"ddc8034.f2238","type":"comment","debugBreak":false,"debugOutput":false,"name":"Get and store a bearer access_token","info":"The client id and client secret are used to retrieve a Bearer token.  \nThe token is stored in:  `context.global.BearerToken` for use in the other flows.","x":579.3125,"y":261,"z":"828b2334.7d74e","wires":[]},{"id":"40e33427.bf1ccc","type":"function","debugBreak":false,"debugOutput":false,"name":"Store Token","func":"context.global.BearerToken=msg.payload.access_token;\nnode.log(\"Token=\"+context.global.BearerToken);\nreturn msg;","outputs":1,"valid":true,"x":682.3125,"y":299,"z":"828b2334.7d74e","wires":[["32125f25.cdeda"]]},{"id":"f75a9c51.08a56","type":"function","debugBreak":false,"debugOutput":false,"name":"GetOAuthToken","func":"var newMsg ={\n    \"url\":context.global.base_url+\"/oauth/client_credential/accesstoken?grant_type=client_credentials\",\n    \"method\": \"POST\",\n    \"headers\": {\n        \"Content-Type\":\"application/x-www-form-urlencoded\"\n    },\n    \"payload\": \"client_id=\"+context.global.client_id+\"&client_secret=\"+context.global.client_secret\n    \n}\nreturn newMsg;\n","outputs":1,"valid":true,"x":326.3125,"y":299,"z":"828b2334.7d74e","wires":[["f685caa4.097a38"]]},{"id":"f685caa4.097a38","type":"http request","debugBreak":false,"debugOutput":false,"name":"","method":"use","ret":"obj","url":"","x":511.3125,"y":299,"z":"828b2334.7d74e","wires":[["40e33427.bf1ccc"]]},{"id":"8f32b571.70cd48","type":"function","debugBreak":false,"debugOutput":false,"name":"Direction Callbacks","func":"//\n// Register a callback for each number in the \n// msg.numbers array\n//\nif (msg.numIdx < msg.numbers.length) {\n    msg.number = msg.numbers[msg.numIdx];\n    msg.numIdx++;\n    return msg;\n} else {\n    msg.numIdx = 0;\n    return null;\n}\n","outputs":"1","valid":true,"dependencies":[],"x":618.6458358764648,"y":417.2222213745117,"z":"828b2334.7d74e","wires":[["def058ed.210fa8"]]},{"id":"774e6da8.88b194","type":"http request","debugBreak":false,"debugOutput":false,"name":"","method":"use","ret":"obj","url":"","x":600.7569122314453,"y":487.4444580078125,"z":"828b2334.7d74e","wires":[["8f32b571.70cd48","97cae07b.68352"]]},{"id":"bee9e042.41162","type":"function","debugBreak":false,"debugOutput":false,"name":"Event Callbacks","func":"//\n// Register a callback for each number in the \n// context.global.numbers array\n//\nif (msg.numIdx < msg.numbers.length) {\n    msg.number = msg.numbers[msg.numIdx];\n    msg.numIdx++;\n    return msg;\n} else {\n    msg.numIdx = 0;\n    return null;\n}","outputs":1,"valid":true,"x":633.0902709960938,"y":591.6666631698608,"z":"828b2334.7d74e","wires":[["9fa547b6.605ab8"]]},{"id":"def058ed.210fa8","type":"function","debugBreak":false,"debugOutput":false,"name":"Setup Request","func":"var number = msg.number;\nmsg ={\n    \"url\":context.global.base_url+\"/a1/nca/subscription/callDirection/+1\"+number,\n    \"method\": \"POST\",\n    headers: {\n        \"Content-Type\":\"application/json\",\n        \"Authorization\":\"Bearer \"+context.global.BearerToken,\n        \"User-Agent\":\"NodeRed-Rapport\"\n    },\n    payload: {\n        \"addressDirection\": \"Called\",\n        \"criteria\": [\"CalledNumber\"],\n        \"url\": context.global.direction_url\n    }\n}\nreturn msg;","outputs":1,"valid":true,"x":830.2014465332031,"y":416.11111068725586,"z":"828b2334.7d74e","wires":[["774e6da8.88b194"]]},{"id":"9fa547b6.605ab8","type":"function","debugBreak":false,"debugOutput":false,"name":"Setup Request","func":"var number = msg.number;\nvar msg ={\n    \"url\":context.global.base_url+\"/a1/nca/subscription/callEvent/+1\"+number,\n    \"method\": \"POST\",\n    headers: {\n        \"Content-Type\":\"application/json\",\n        \"Authorization\":\"Bearer \"+context.global.BearerToken,\n        \"User-Agent\":\"NodeRed-Rapport\"\n    },\n    payload: {\n        \"addressDirection\": \"Called\",\n        \"criteria\": [\"CalledNumber\"],\n        \"url\": context.global.event_url\n    }\n}\nreturn msg;","outputs":1,"valid":true,"x":833.5347061157227,"y":591.7777814865112,"z":"828b2334.7d74e","wires":[["f43bfbd0.0bc408"]]},{"id":"f43bfbd0.0bc408","type":"http request","debugBreak":false,"debugOutput":false,"name":"","method":"use","ret":"obj","url":"","x":615.7013854980469,"y":666.1944255828857,"z":"828b2334.7d74e","wires":[["bee9e042.41162","8b09898a.74f678"]]},{"id":"3f4570c3.c0ba9","type":"inject","debugBreak":false,"debugOutput":false,"name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":271.0902786254883,"y":416.3333511352539,"z":"828b2334.7d74e","wires":[["6fdde169.90222"]]},{"id":"50d77e07.af288","type":"inject","debugBreak":false,"debugOutput":false,"name":"","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":false,"x":270.8680419921875,"y":589.8888759613037,"z":"828b2334.7d74e","wires":[["bf750684.408af8"]]},{"id":"97cae07b.68352","type":"debug","debugBreak":false,"debugOutput":false,"name":"","active":true,"console":"true","complete":"true","x":818.979175567627,"y":487.5555667877197,"z":"828b2334.7d74e","wires":[]},{"id":"8b09898a.74f678","type":"debug","debugBreak":false,"debugOutput":false,"name":"","active":true,"console":"true","complete":"true","x":807.0624885559082,"y":665.2222166061401,"z":"828b2334.7d74e","wires":[]},{"id":"5da0883b.a25f78","type":"comment","debugBreak":false,"debugOutput":false,"name":"Register Call Direction Callbacks","info":"Registeres a direction callback for each entry in the `context.global.numbers` array.\n\nThe callback endpoint is stored in: `context.global.direction_url`","x":322.3125,"y":376,"z":"828b2334.7d74e","wires":[]},{"id":"21005dc9.deffa2","type":"comment","debugBreak":false,"debugOutput":false,"name":"Register Call Event Notification Callbacks","info":"Registeres an event callback for each entry in the `context.global.numbers` array.\n\nThe callback endpoint is stored in: `context.global.event_url`","x":349.5347099304199,"y":551.1111030578613,"z":"828b2334.7d74e","wires":[]},{"id":"47c2d44a.b83d2c","type":"function","debugBreak":false,"debugOutput":false,"name":"Set Numbers","func":"msg.numbers = context.global.numbers;\nmsg.numIdx=0;\nreturn msg;","outputs":1,"valid":true,"x":433.31249237060547,"y":1498.6666650772095,"z":"828b2334.7d74e","wires":[["ea70e741.158f18"]]},{"id":"ea70e741.158f18","type":"subflow:532d167e.acd2e8","debugBreak":false,"debugOutput":false,"x":606.6458206176758,"y":1498.666706085205,"z":"828b2334.7d74e","wires":[[]]},{"id":"6fdde169.90222","type":"function","debugBreak":false,"debugOutput":false,"name":"Set Numbers","func":"msg.numbers = context.global.numbers;  // Array of numbers\nmsg.numIdx = 0;\nreturn msg;","outputs":1,"valid":true,"x":416.6458053588867,"y":416.33331871032715,"z":"828b2334.7d74e","wires":[["8f32b571.70cd48"]]},{"id":"bf750684.408af8","type":"function","debugBreak":false,"debugOutput":false,"name":"Set Numbers","func":"var numbers = [];\nnumbers.push(context.global.numbers[0]);\nmsg.numbers = numbers;\nmsg.numIdx = 0;\nreturn msg;","outputs":1,"valid":true,"x":428.86803436279297,"y":590.7777576446533,"z":"828b2334.7d74e","wires":[["bee9e042.41162"]]},{"id":"610c6b4c.9ef394","type":"comment","debugBreak":false,"debugOutput":false,"name":"User Interface Callback Endpoint","info":"This is the endpoint for transient callbacks used by the User Interaction APIs.  \n\nThe call sessionId is passed as a paramenter in the URL.  \n\nThe payload is stored in `context.global.ui_response[<call_sessionId>]`\n\nThis will trigger the Collect Digits subflow to continue.","x":318.81248474121094,"y":1144.1111092037625,"z":"828b2334.7d74e","wires":[]},{"id":"2fd4c5d9.d02b3a","type":"comment","debugBreak":false,"debugOutput":false,"name":"Call Direction Callback Endpoint","info":"This flow is triggered by a Call Direction event on one of the registered numbers.\n\nThe default action is just to Continue the call.  \n\nYou can modify the Call Flow function to take other actions as Route, EndCall, etc.","x":312.31248474121094,"y":1235.2222203148735,"z":"828b2334.7d74e","wires":[]},{"id":"9fcb7287.60349","type":"comment","debugBreak":false,"debugOutput":false,"name":"Call Event Callback Endpoint","info":"This flow is triggered by a Call Notification event on one of the registered numbers.\n\nThe event is just logged to the console.\n","x":304.81248474121094,"y":1319.555507659912,"z":"828b2334.7d74e","wires":[]},{"id":"386258fa.c79da8","type":"comment","debugBreak":false,"debugOutput":false,"name":"Remove Callback Subscriptions","info":"This flow will query and remove all Call Direction and Call Notification subscriptions for the numbers in the `msg.numbers` array.","x":307.31248474121094,"y":1459.7777758704292,"z":"828b2334.7d74e","wires":[]},{"id":"32125f25.cdeda","type":"debug","debugBreak":false,"debugOutput":false,"name":"","active":true,"console":"false","complete":"false","x":835.3124847412109,"y":299,"z":"828b2334.7d74e","wires":[]}]
